@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>Popeyes Jar is the company founded by Thomas in late 90's in Windsor .His great grand son is now owner of the company
    and still have their position as a best jar company.We have all variety of jars,in various shapes,colour,size.
    Even though one can also customize their jars as per the need.We have more than 50,000 trusted customers.</p>